<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class = "container" th:fragment="postList">
<!--        <table class="table table-hover table-striped text-center" style="border: 1px solid;">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>No</th>-->
<!--                <th>제목</th>-->
<!--                <th>글쓴이</th>-->
<!--                <th>등록일</th>-->
<!--                <th>조회수</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="post : ${posts}">-->
<!--                <td><span th:text="${post.postId}">1</span></td>-->
<!--                <td><a th:href="@{/board/{postId}(postId= ${post.postId})}"><span th:text="${post.postTitle}"></span></a></td>-->
<!--                <td><span th:text="${post.getMember().memberNickname}">박소현</span></td>-->
<!--                <td><span th:text="${#dates.format(post.writtenDate, 'yyyy-MM-dd HH:mm:ss')}">2022.07.11</span></td>-->
<!--                <td><span th:text="${post.viewCount}">9</span></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <div id="grid"></div>
        <script>
            // GRID 를 생성한다.
            // 나이는 수정할 수 있도록 설정한다.
            let grid = new tui.Grid( {
                el: document.getElementById('grid'),
                columns: [
                    {
                        header: 'No',
                        name: 'no'
                    },
                    {
                        header: '제목',
                        name: 'title'
                    },
                    {
                        header: '글쓴이',
                        name: 'name'
                    },
                    {
                        header: '등록일',
                        name: 'date'
                    },
                    {
                        header: '조회수',
                        name: 'view'
                    }
                ]
            } );

            // GRID 에 데이터를 입력한다.
            let arrData = [];
            let postSize = $("#postSize").val();
            let posts = $("#posts").val();

            alert(posts);
            for(let i = 0; i < postSize; i++){
                let post = {};
                let postName = "post"+i;
                let postObject = $("#"+postName).val();
                // alert(postObject);
                post.no = posts[i].postId;
                post.title = posts[i].postTitle;
                post.name = posts[i].getMember().memberNickname;
                post.date = posts[i].writtenDate;
                post.view = posts[i].viewCount;

                arrData.push(post);

            }

            grid.resetData( arrData );

        </script>
    </div>
</body>

</html>