<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:include="layout/fragments :: html_head"></head>
  <link rel="stylesheet" href="/css/main.css">
  <title>메인 페이지</title>
</head>

<body>
  <div class="container">
    <div th:replace="layout/fragments :: header"></div>
    <div th:replace="layout/fragments :: menu"></div>
  </div>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>

        <form role="search" method="get" action="/board/search" onsubmit="return checkSearch();">
          <div class="row flex-nowrap">
            <div class="col-2"></div>
            <div class="col-2">
              <select class="form-select" aria-label="Default select example" id="searchType" name="searchType">
              <option value="1" selected>글 제목</option>
              <option value="2">글 내용</option>
              <option value="3">책 제목</option>
              <option value="4">저자</option>
              </option>
            </select>
            </div>
            <div class="col-6">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" id="search" name="search">
            </div>
            <div class="col-2"></div>
          </div>
        </form>

    <div class="row flex-nowrap align-items-center"style="margin-bottom: 1rem;">
      <div class="pt-1 col-4">
        <a class="btn btn-outline-primary rounded-pill" th:href="@{/latest}">최신순</a>
        <a class="btn btn-outline-secondary rounded-pill" th:href="@{/popular}">조회순</a>
      </div>
      <div class="col-4"></div>
      <div class="col-4 text-end d-flex justify-content-end align-items-center">
        <a class="btn btn-dark" th:href="@{/board/write}">글쓰기</a>
      </div>
    </div>

  <div th:replace="layout/PostFragment :: postList"></div>
  </main>

<div th:replace="layout/fragments :: footer"></div>
</body>
<script src="/js/board/search.js"> </script>
</html>