<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:include="layout/fragments :: html_head"></head>
  <link rel="stylesheet" href="/css/main.css">
  <title>메인 페이지</title>
</head>

<body>
<div class="container">
  <div th:replace="layout/fragments :: header"></div>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" th:each="cate : ${categories}" th:href="@{#}" th:text="${cate.getCategoryName()}"></a>
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row flex-nowrap justify-content-between align-items-center" style="margin-bottom: 1rem;">
    <div class="col-4 pt-1">

      <a class="btn btn-outline-primary rounded-pill" href="#">최신순</a>
      <a class="btn btn-outline-secondary rounded-pill" href="#">조회순</a>
    </div>
    <div class="col-4">
      &nbsp;
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="btn btn-sm btn-outline-secondary" th:href="@{/board/write}">글쓰기</a>
    </div>

  </div>

  <div class = "container">
    <table class="table table-hover table-striped text-center" style="border: 1px solid;">
      <thead>
      <tr>
        <th>No</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>등록일</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td><span th:text="${post.postId}">1</span></td>
        <td><a th:href="@{/board/view(postId=${post.postId})}"><span th:text="${post.postTitle}"></span></a></td>
        <td><span th:text="${post.getMember().memberNickname}">박소현</span></td>
        <td><span th:text="${post.writtenDate}">2022.07.11</span></td>
        <td><span th:text="${post.viewCount}">9</span></td>
      </tr>
      </tbody>
    </table>
  </div>


</main>

<div th:replace="layout/fragments :: footer"></div>

</body>
</html>